/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Raleway:wght@100&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

/* PARTIE 1 */
#header {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

#prenom_nom {
    font-family: 'Lato', sans-serif;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 150%;
}

#status {
    font-family: 'Raleway', sans-serif;
    font-size: 120%;
}

/* PARTIE 2 */
a {
    color: white;
    text-decoration: none;
  }
  
#partie_2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    font-size: 120%;
}

#adresse {
    margin-left: 20px;
    font-style: italic;
}

#mail {
    margin-right: 110px;
    font-style: italic;
}

#numero {
    margin-right: 20px;
    font-style: italic;
}

/* PARTIE 3 */
#titre {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    height: 30px;
    width: 330px;
    margin-top: 20px;
}

#titrep3 {
    margin-left: 20px;
}

#presentation {
    font-family: 'Raleway', sans-serif;
    color: white;
    width: 310px;
    margin-left: 20px;
    text-align: justify;
    font-size: 120%;
    text-indent: 30px;
}

#langues {
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 120%;
}

#hobbies {
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 120%;
}

/* PARTIE 4 */

#titre_p4 {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

#titrep4 {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    background-color: #dbc2a4;
    border-left: 5px solid #782221;
    margin-right: 20px;
}


#contenu {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

/* PARTIE 5 */

#partie5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#footer {
    font-family: 'Raleway', sans-serif; 
    font-weight: bold; 
    color: white;
}